fastapi
uvicorn[standard]
pymongo
pinecone
langchain
langchain-mongodb
langchain-google-genai
langchain-openai
langchain-pinecone
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pydantic
pydantic-settings
python-dotenv
openai
pinecone
langchain_google_genai
